html{
width: 100%;
height: 100%;
}
body{
width: 100%;
height: 100%;
background-color: white;
color: white;
margin: 0px;
overflow: hidden;
}
text{
-webkit-user-select: none;
-moz-user-select: none;
-ms-user-select: none;
}